<a href="https://colab.research.google.com/github/alfafimel/INDEPENDENT-PROJECT-WEEK-1-PREP/blob/master/%22Moringa_Data_Science_Prep_W1_Independent_Project_2019_06_ELIZABETH_JOSEPHINE_SQL_Notebook%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#loading and extension into the environment
%load_ext sql
# connecting to the in memory sql database
%sql sqlite://

'Connected: @None'

In [ ]:
#importing the required pythin libraries for this notebook
#
import csv
import pandas as pd

In [ ]:
# then from a local CSV file, we load the table to be used
#
with open('KARAMOJA.csv','r') as f:
    Dalberg = pd.read_csv(f, index_col=0, encoding='utf-8') 

# Then storing it in an SQL table of our in memory sqlite database
#
%sql DROP TABLE if EXISTS Dalberg;
%sql PERSIST Dalberg;

 * sqlite://
Done.
 * sqlite://

'Persisted dalberg'

In [ ]:
#Display a list of Sub Counties and their population and areas.
%%sql
SELECT "SUBCOUNTY_NAME", "POP", "Area" FROM Dalberg

 * sqlite://
Done.

[('KACHERI', 17244, 1067176155),
 ('KOTIDO', 52771, 597575188),
 ('KOTIDO TOWN COUNCIL', 27389, 23972401),
 ('NAKAPERIMORU', 38775, 419111591),
 ('PANYANGARA', 65704, 880955930),
 ('RENGEN', 41273, 652744859),
 ('KAABONG  EAST', 42221, 60801942),
 ('KAABONG TOWN COUNCIL', 38857, 13071455),
 ('KAABONG WEST', 41454, 67612362),
 ('KALAPATA', 99203, 223116860),
 ('KAMION', 60070, 1199409465),
 ('KAPEDO', 33951, 304557831),
 ('KATHILE', 56870, 228457417),
 ('KAWALAKOL', 37691, 1742041261),
 ('LOBALANGIT', 22907, 302572789),
 ('LODIKO', 31820, 397700845),
 ('LOLELIA', 100919, 1069331387),
 ('LOYORO', 16608, 1330019236),
 ('NAPORE (KARENGA)', 20394, 309577387),
 ('SIDOK', 24092, 125330583),
 ('ABIM', 14377, 188613057),
 ('ABIM TOWN COUNCIL', 11489, 115941152),
 ('ALEREK', 12573, 1255760525),
 ('LOTUKEI', 18641, 191684465),
 ('MORULEM', 16834, 250364895),
 ('KARITA', 45015, 658008801),
 ('LOROO', 22541, 371970302),
 ('AMUDAT', 30181, 596393139),
 ('AMUDAT TOWN COUNCIL', 4053, 17207110),
 ('KATIKEKILE', 11772, 277451997),
 ('NADUNGET', 42115, 596023780),
 ('TAPAC', 21999, 622266516),
 ('NORTHERN DIVISION', 7161, 2738777),
 ('SOUTHERN DIVISION', 3272, 2121209),
 ('LOREGAE', 26644, 928683431),
 ('NAKAPIRIPIRIT TOWN COUNCIL', 1418, 4673094),
 ('NAMALU', 25905, 553067364),
 ('KAKOMONGOLE', 15960, 312709097),
 ('LOLACHAT', 22801, 642401705),
 ('LORENGEDWAT', 9929, 435714604),
 ('NABILATUK', 27534, 499776866),
 ('IRIIRI', 46979, 1030623258),
 ('LOPEEI', 18815, 790782350),
 ('LORENGECORA', 2503, 118997955),
 ('LOTOME', 17834, 125857565),
 ('MATANY', 29495, 338252511),
 ('NAPAK TOWN COUNCIL', 8010, 150906375),
 ('NGOLERIET', 20790, 158887552),
 ('NYAKWAE', 16470, 769609687),
 ('LOKOPO', 23200, 1794470536),
 ('RUPA', 41493, 2069554899),
 ('MORUITA', 16588, 839293722)]

In [ ]:
#Sort the list of districts by total crop area (descending order). 
%%sql
SELECT * FROM Dalberg
GROUP BY DISTRICT_NAME
ORDER BY SUM(Crop_Area_Ha) DESC;

 * sqlite://
Done.

[(268, 'RENGEN', 'KOTIDO', 41273, 652744859, 'Y', 271.18584310000006, 1047.180128, 13278.52043, 12964.49973, 171.5857036, 3515788.789, 179681.139),
 (604, 'SIDOK', 'KAABONG', 24092, 125330583, 'Y', 285.3362943, 1396.9914939999999, 957.4939457999999, 859.6490275, 97.5422428, 245289.0679, 136265.6835),
 (1320, 'MORUITA', 'NAKAPIRIPIRIT', 16588, 839293722, 'Y', 430.5573751, 1248.955812, 1161.3902289999999, 185.2834449, 959.6711616, 79775.15367999999, 1198586.875),
 (1313, 'LOKOPO', 'NAPAK', 23200, 1794470536, 'Y', 120.8622322, 748.8298623, 6471.047334000001, 5830.549392, 553.5431231000001, 704693.2144, 414509.6206),
 (1318, 'RUPA', 'MOROTO', 41493, 2069554899, 'Y', 114.2709211, 699.3343089, 2217.2907170000003, 1989.1195079999998, 222.8388813, 227298.5184, 155838.875),
 (813, 'AMUDAT TOWN COUNCIL', 'AMUDAT', 4053, 17207110, 'Y', 146.1177968, 861.2084912, 60.77208552, 58.32509019, 2.416785505, 8522.333678, 2081.356199),
 (1295, 'NYAKWAE', 'ABIM', 16470, 769609687, 'Y', 329.7590298, 779.2250311, 792.8987889, 342.81683839999994, 331.1113402, 113046.948, 258010.2444)]

In [ ]:
#Select only the Sub counties from the Moroto district, 
#order them alphabetically and show their production of sorghum. 
#
%%sql
SELECT * FROM Dalberg
WHERE DISTRICT_NAME = "MOROTO" 
ORDER BY S_Yield_Ha DESC;

 * sqlite://
Done.

[(925, 'KATIKEKILE', 'MOROTO', 11772, 277451997, 'Y', 311.0062152, 546.1402942000001, 145.243518, 30.15704817, 103.27756219999999, 9379.029413, 56404.03821),
 (927, 'TAPAC', 'MOROTO', 21999, 622266516, 'Y', 155.8699345, 211.96563540000002, 1111.664207, 315.979223, 793.2370943, 49251.66081, 168139.0047),
 (926, 'NADUNGET', 'MOROTO', 42115, 596023780, 'Y', 133.6679356, 591.2703552999999, 2480.1219, 2406.1906649999996, 70.50569361, 321630.539, 41687.926510000005),
 (928, 'NORTHERN DIVISION', 'MOROTO', 7161, 2738777, 'Y', 131.9776979, 241.53842680000002, 0.322315707, 0.130940756, 0.19137495100000002, 17.28125956, 46.22440465),
 (929, 'SOUTHERN DIVISION', 'MOROTO', 3272, 2121209, 'Y', 114.7955689, 0.0, 0.17139046100000002, 0.17139046100000002, 0.0, 19.67486547, 0.0),
 (1318, 'RUPA', 'MOROTO', 41493, 2069554899, 'Y', 114.2709211, 699.3343089, 2217.2907170000003, 1989.1195079999998, 222.8388813, 227298.5184, 155838.875)]

In [ ]:
#Compute the total Maize production per District. 
%%sql
SELECT *, SUM("M_Prod_Tot") FROM Dalberg
GROUP BY DISTRICT_NAME

 * sqlite://
Done.

[(1295, 'NYAKWAE', 'ABIM', 16470, 769609687, 'Y', 329.7590298, 779.2250311, 792.8987889, 342.81683839999994, 331.1113402, 113046.948, 258010.2444, 1922133.1297),
 (813, 'AMUDAT TOWN COUNCIL', 'AMUDAT', 4053, 17207110, 'Y', 146.1177968, 861.2084912, 60.77208552, 58.32509019, 2.416785505, 8522.333678, 2081.356199, 3546469.3324990002),
 (604, 'SIDOK', 'KAABONG', 24092, 125330583, 'Y', 285.3362943, 1396.9914939999999, 957.4939457999999, 859.6490275, 97.5422428, 245289.0679, 136265.6835, 6990361.6143000005),
 (268, 'RENGEN', 'KOTIDO', 41273, 652744859, 'Y', 271.18584310000006, 1047.180128, 13278.52043, 12964.49973, 171.5857036, 3515788.789, 179681.139, 2010179.0731479998),
 (1318, 'RUPA', 'MOROTO', 41493, 2069554899, 'Y', 114.2709211, 699.3343089, 2217.2907170000003, 1989.1195079999998, 222.8388813, 227298.5184, 155838.875, 422116.06882464996),
 (1320, 'MORUITA', 'NAKAPIRIPIRIT', 16588, 839293722, 'Y', 430.5573751, 1248.955812, 1161.3902289999999, 185.2834449, 959.6711616, 79775.15367999999, 1198586.875, 8125156.24546),
 (1313, 'LOKOPO', 'NAPAK', 23200, 1794470536, 'Y', 120.8622322, 748.8298623, 6471.047334000001, 5830.549392, 553.5431231000001, 704693.2144, 414509.6206, 5587379.38888)]

In [ ]:
#Compute the number of Sub counties where Maize is produced and the total Maize production per District.
%%sql
SELECT *, SUM(M_Prod_Tot) FROM Dalberg
GROUP BY DISTRICT_NAME 
ORDER BY COUNT(SUBCOUNTY_NAME) DESC;

 * sqlite://
Done.

[(604, 'SIDOK', 'KAABONG', 24092, 125330583, 'Y', 285.3362943, 1396.9914939999999, 957.4939457999999, 859.6490275, 97.5422428, 245289.0679, 136265.6835, 6990361.6143000005),
 (1320, 'MORUITA', 'NAKAPIRIPIRIT', 16588, 839293722, 'Y', 430.5573751, 1248.955812, 1161.3902289999999, 185.2834449, 959.6711616, 79775.15367999999, 1198586.875, 8125156.24546),
 (1313, 'LOKOPO', 'NAPAK', 23200, 1794470536, 'Y', 120.8622322, 748.8298623, 6471.047334000001, 5830.549392, 553.5431231000001, 704693.2144, 414509.6206, 5587379.38888),
 (1295, 'NYAKWAE', 'ABIM', 16470, 769609687, 'Y', 329.7590298, 779.2250311, 792.8987889, 342.81683839999994, 331.1113402, 113046.948, 258010.2444, 1922133.1297),
 (268, 'RENGEN', 'KOTIDO', 41273, 652744859, 'Y', 271.18584310000006, 1047.180128, 13278.52043, 12964.49973, 171.5857036, 3515788.789, 179681.139, 2010179.0731479998),
 (1318, 'RUPA', 'MOROTO', 41493, 2069554899, 'Y', 114.2709211, 699.3343089, 2217.2907170000003, 1989.1195079999998, 222.8388813, 227298.5184, 155838.875, 422116.06882464996),
 (813, 'AMUDAT TOWN COUNCIL', 'AMUDAT', 4053, 17207110, 'Y', 146.1177968, 861.2084912, 60.77208552, 58.32509019, 2.416785505, 8522.333678, 2081.356199, 3546469.3324990002)]

In [ ]:
#Compute the overall Crop area in all Sub counties where population is over 20000.
%%sql
SELECT *, SUM("Crop_Area_Ha") FROM Dalberg WHERE POP > 20000;

 * sqlite://
Done.

[(1318, 'RUPA', 'MOROTO', 41493, 2069554899, 'Y', 114.2709211, 699.3343089, 2217.2907170000003, 1989.1195079999998, 222.8388813, 227298.5184, 155838.875, 120212.89015529997)]

In [ ]:
#Sort the Maize production in descending order by Districts, only taking 
# account Sub counties where Maize area is larger than Sorghum area, and display the number of Sub counties per district matching that criteria. 
%%sql
SELECT *, COUNT(SUBCOUNTY_NAME) FROM Dalberg WHERE  "M_Area_Ha" > "S_Area_Ha"
GROUP BY DISTRICT_NAME
ORDER BY M_Prod_ToT DESC;

 * sqlite://
Done.

[(812, 'AMUDAT', 'AMUDAT', 30181, 596393139, 'Y', 239.0478779, 1379.0459449999998, 1651.99842, 676.7832664, 972.1742458999998, 161783.6037, 1340672.952, 1),
 (1320, 'MORUITA', 'NAKAPIRIPIRIT', 16588, 839293722, 'Y', 430.5573751, 1248.955812, 1161.3902289999999, 185.2834449, 959.6711616, 79775.15367999999, 1198586.875, 3),
 (603, 'NAPORE (KARENGA)', 'KAABONG', 20394, 309577387, 'Y', 295.7343498, 765.3349254999999, 1494.047587, 267.559128, 1221.532726, 79126.42475, 934881.6576, 3),
 (1028, 'NAPAK TOWN COUNCIL', 'NAPAK', 8010, 150906375, 'Y', 175.828068, 725.8139301, 792.2492731000001, 386.1580327, 401.1734419, 67897.42082, 291177.2726, 2),
 (928, 'NORTHERN DIVISION', 'MOROTO', 7161, 2738777, 'Y', 131.9776979, 241.53842680000002, 0.322315707, 0.130940756, 0.19137495100000002, 17.28125956, 46.22440465, 3)]